<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="DB_HOST" value="DESKTOP-L01K843\SQLEXPRESS" />
		<add key="DB_USER" value="db_user" />
		<add key="DB_PASS" value="GymApp!23$7" />
	    <add key="DB_NAME" value="fitness-home" />
		<add key="USER_EMAIL" value="" />
		<add key="USER_PASSWORD" value="" />
	</appSettings>
</configuration>